<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- tags -->
                <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->

            <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyC6CbJKFz2DRyvYoPrGafNaunl-zkaPdqE",
            authDomain: "ccapdev-resume1.firebaseapp.com",
            databaseURL: "https://ccapdev-resume1.firebaseio.com",
            projectId: "ccapdev-resume1",
            storageBucket: "ccapdev-resume1.appspot.com",
            messagingSenderId: "459032712935",
            appId: "1:459032712935:web:5892d2a5cd075f5a5a3442"
        };
        // Initialize Firebase
        var defaultProject = firebase.initializeApp(firebaseConfig);

        var db = firebase.firestore();

        //post
        db.collection("educations").get().then(function(snapshot){
            snapshot.forEach(function(doc){
                console.log(doc.data());
            })
        });

        //add
        // db.collection("organizations").add({
        //     name:"CSG",
        //     position: "Student Services",
        //     year_end: 2020,
        //     year_start: 2019
        // }).then(function(docRef){
        //     console.log("Document written with ID: ", docRef.id);
        // }).catch(function(error){
        //     console.error("Erroe adding document: ", error);
        // })

        //delete
        db.collection("organizations").doc("1JxhglNumv1LTJeMRXkD").delete().then(function(){
            console.log("Item deleted!");
        }).catch(function(error){
            console.error("error in deleting item");
        })

        </script>
    </body>

</html>