<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

      <form>
        <input type="text" id="sentence">
        <button type="button" onclick="splitFunc(document.getElementById('sentence').value)">click</button>
      </form>
        
        <div id="display"></div>
        <!-- doc.data().degree.split(" ").join("").substring(0,8) -->

        <script>
        function splitFunc(text){
            let spt = text.split(" ");  
            document.getElementById("display").innerHTML = spt;
            console.log(spt);
        }
        </script>
    </body>
</html>